.about-dialog {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 150px;
    border: 2px solid #3B2B00;
    background: #FFF9E8;
    position: fixed;
    left: 100%;
    top: 0;
    transition-duration: 0.4s;

    padding-top: 140px;
    padding-left: 60px;
    box-sizing: border-box;
}

.about-content {
    /*background: red;*/
    width: 35%;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.8em;
}

.email {
    color: #A91112;
    float: right;
}


/* ---------------------------------------------------------- */
/* Mobile rules */
@media screen and (max-width: 480px) {
    .about-content {
        /*background: red;*/
        width: 70%;
        font-size: 16px;
        font-weight: 800;
        line-height: 1.8em;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
    .about-content {
        /*background: red;*/
        width: 60%;
        font-size: 16px;
        font-weight: 800;
        line-height: 1.8em;
    }

    .about-content p {
        font-size: 20px;
    }
}