
* {
    margin: 0;
    padding: 0;

    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Poiret One', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Mulish', sans-serif;*/
    /*font-family: 'Overpass', sans-serif;*/

    /*font-family: 'Raleway', sans-serif;*/

    text-shadow: 0 0 0;

    font-weight: 700;
    color: #3B2B00;
}


canvas {
    padding: 0;
    margin: 0;
}

.tooltip-container {
    border: 3px solid #3B2B00;
    position: absolute;
    bottom: 180px;
    left: 57%;
    transition-duration: 0.2s;
    padding: 10px;
    border-radius: 10px;

}

.tooltip {
    transition-duration: 0.2s;
    font-size: 14px;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.animated-ball {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    background: #A91112;
    border-radius: var(--size);
    margin-top: 4px;

    /*position: absolute;*/
    /*left: 55%;*/
    /*bottom: 170px;*/

    animation-duration: 1.3s;
    animation-name: dragBall;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes dragBall {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 60%;
        opacity: 0.3;
    }
}

.rotate-tooltip {
    position: absolute;
    font-size: 10px;
    bottom: 20px;
    left: calc(28% + 15px);
    
}

.main-text {
    /*border: 3px solid black;*/
    width: fit-content;
    max-width: 30%;
    line-height: 1.6em;
    position: absolute;
    left: 46%;
    top: 40%;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.6s;
    font-size: 18px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    /*white-space: pre;*/
}

.header {
    margin-bottom: 20px;
}

.main-text span.ingredients {
    background: #3B2B00;
    font-size: 14px;
    border: 2px solid #3B2B00;
    padding: 5px 8px;
    border-radius: 12px;
    color: #FFF9E8;
    white-space: pre;
}

.top-menu {
    /*background: green;*/
    position: absolute;
    top: 10px;
    right: 10%;
    padding: 5px;
    z-index: 10;
}

.top-menu li {
    display: inline-block;
    margin-left: 60px;
    
    border-bottom: 3px solid #3B2B00;
    padding-bottom: 2px;
    cursor: pointer;
    transition-duration: 0.3s;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.top-menu li:hover {
    padding-bottom: 4px;
    border-bottom: 5px solid #3B2B00;
}

.demo-tooltip {
    position: absolute;
    font-size: 12px;
    bottom: 20px;
    margin: 0 auto;
    right: 10%;
}
